#wrapper{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
}

#navbar{
    background-color: unset;
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid black;
    margin: none;
}

#logo{
    background-color: darkblue;
    height: 10vh;
    width: 10vh;
    margin: none;
}

#credits{
    background-color: darkblue;
    height: 10vh;
    width: 10vh;
    align-self: right;
}