@import url('https://fonts.googleapis.com/css?family=Public+Sans|Roboto+Slab&display=swap');

#wrapper{
    background-color: none;
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
}

#navbar{
    display: inline-flex;
    background-color: unset;
    height: 10vh;
    width: 100vw;
    margin: none;
}

#logo{
    justify-content: flex-start;
    background-color: none;
    background-image: url("lib/res/logo.png");
    background-size: contain;
    height: 10vh;
    width: 10vh;
    margin-top: 2px;
    margin-left: 2px;
    
}

#centerer{
    justify-content: flex-end;
    width: 10vh;
    height: 10vh;
}

#credits{
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    color: white;
}

#credits:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

#filler{
    flex-grow: 1;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 9vh;
    margin-top: -1vh;
}

#credit-text{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

audio{
    visibility: hidden;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100vh;
    z-index: -32;
    object-fit: cover;
    /*display: none;*/
    /*background: url("lib/res/backgroundposter.jpg");
    background-size: cover;*/
}

#control-wrapper{
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#control-button{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border: white;
  border-style: solid;
  width: 250px;
  height: 75px;
  color: white;
  font-family: 'Verdana', sans-serif;
}

#control-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#aligner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#control-button > p{
    text-align: center;
}

#volSlider{
    -webkit-appearance: none;
    margin-bottom: 10px;
}

#volSlider::-webkit-slider-thumb{
    background: white;
    -webkit-appearance: none;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background:none;
    cursor: pointer;
    margin-top: -4px;
    background-color: white;
}

#volSlider::-moz-range-thumb{
    background: white;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background:none;
    cursor: pointer;
    background-color: white;
}

#volSlider::-ms-thumb{
    background: white;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background:none;
    cursor: pointer;
    background-color: white;
}

#volSlider:focus{
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #ffffffa1;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #ffffffa1;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ffffffa1;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffffa1;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }